/* ----------------------------------------
Component
再利用できるパターンとして、小さな単位のモジュールを定義します。
grid/button/form/media...
---------------------------------------- */

.c- {
  &inner {
    width: calc(100% - 30px);
    max-width: $width-base + px;
    margin: 0 auto;
  }

  &box {
    padding: 15px 20px;
    background-color: #f8f8f9;
    border-radius: 5px;

    &-flow {
      position: relative;
      margin-bottom: 35px;

      &::before {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 13px 0 13px;
        border-color: darken($color-rarely, 15%) transparent transparent transparent;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -25px;
      }

      &:last-of-type {
        &::before {
          display: none;
        }
      }
    }

    &-scroll {
      overflow-y: auto;

      &::-webkit-scrollbar {
        height: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 2px;
      }

      &::-webkit-scrollbar-track-piece {
        background: #efefef;
      }
    }
  }

  &subTitle {
    margin-bottom: 15px;

    &-iconSquare {
      position: relative;
      padding-left: 20px;
      line-height: 1.2em;

      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 1.2em;
        background-color: $color-usually;
        content: '';
      }
    }
  }

  &lead {
    display: inline-block;
    min-width: 100px;
    margin: 0;
    padding: 10px 15px;
    border: solid 1px $color-main;
    background-color: #fff;
    font-size: 1.6rem;
    text-align: center;
  }

  &ruby {
    font-size: $font-size-s;
    line-height: 1.2;
  }

  &strong {
    font-size: $font-size-l;
    font-weight: bold;
  }

  &note {
    line-height: 1.8;
    padding-bottom: 3px;
    border-bottom: double 3px $color-main;
  }

  &paragraph {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &definition {
    $self: &;

    @include tbpc {
      display: flex;
      flex-wrap: wrap;
    }

    &_title {
      box-sizing: border-box;

      @include tbpc {
        width: 180px;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
    }

    &_description {
      box-sizing: border-box;
      margin-left: 0;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      @include tbpc {
        width: calc(100% - 180px);
      }
    }

    &-line {
      @include sp {
        #{$self}_title {
          background-color: #f8f8f9;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-left: 20px;
        }

        #{$self}_description {
          padding-top: 4px;
          padding-bottom: 4px;
          padding-left: 20px;
        }
      }

      @include tbpc {
        #{$self}_title {
          padding-bottom: 10px;
          padding-left: 20px;
          border-bottom: solid 1px #d4d4d4;
        }

        #{$self}_description {
          padding-bottom: 10px;
          border-bottom: solid 1px #d4d4d4;
        }
      }
    }
  }

  &order {
    $self: &;
    list-style: none;
    counter-reset: li;

    #{$self} > &_list {
      position: relative;
      padding-left: 1.6em;

      &:not(:last-of-type) {
        padding-bottom: 10px;
      }

      &::before {
        counter-increment: li;
        display: block;
        content: counter(li)'.';
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &-brackets {
      > #{$self}_list {
        padding-left: 40px;

        &::before {
          content: '（'counter(li)'）';
        }
      }
    }

    &-circle {
      > #{$self}_list {
        padding-left: 2.4em;

        &::before {
          content: counter(li);
          width: 1.8em;
          height: 1.8em;
          border-radius: 50%;
          background: $color-usually;
          color: #fff;
          text-align: center;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  &unorder {
    $self: &;
    list-style: none;

    #{$self} > &_list {
      padding-left: 1.4em;
      position: relative;

      &::before {
        display: block;
        content: '\25C6'; //◆
        position: absolute;
        top: 0;
        left: 0;
        color: darken($color-main, 15%);
      }
    }

    &-caution {
      > #{$self}_list {
        &::before {
          content: '\203B'; //※
        }
      }
    }

    &-dotted {
      > #{$self}_list {
        &::before {
          content: '\30FB'; //・
          color: #000;
        }
      }
    }
  }

  &table {
    $self: &;
    display: table;
    width: 100%;

    &_inner {
      display: table-row-group;
    }

    &_item {
      margin-top: -1px;
    }

    &_title,
    &_description {
      display: table-cell;
      border: solid 1px $color-main;
      padding: 8px 25px;
    }

    &_title {
      background-color: $color-base;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;

      &-accent {
        background-color: darken($color-main, 5%);
      }
    }

    &-response {
      @include sp {
        display: block;

        #{$self}_inner,
        #{$self}_item,
        #{$self}_title,
        #{$self}_description {
          display: block;
          box-sizing: border-box;
          width: 100%;
        }

        #{$self}_item {
          border: 0;
          margin-top: 0;
        }

        #{$self}_title,
        #{$self}_description {
          padding-top: 4px;
          padding-bottom: 4px;
          text-align: left;
          border: none;
        }
      }
    }
  }

  &grid {
    $self: &;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &_item {
      box-sizing: border-box;
    }

    &-col2 {
      #{$self}_item {
        width: 49%;
      }
    }

    &-col3 {
      #{$self}_item {
        width: 33%;
      }
    }

    &-onlyPc {
      @include sptb {
        #{$self}_item {
          width: 100%;
        }
      }
    }

    &-onlyTbPc {
      @include sp {
        #{$self}_item {
          width: 100%;
        }
      }
    }
  }

  &hamburger {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: $color-usually;
    cursor: pointer;

    > span {
      display: inline-block;
      box-sizing: border-box;
      width: 20px;
      height: 2px;
      background: #fff;
      border-radius: 2px;
      transition: all 200ms 0s ease;
      position: absolute;
      left: 9px;
      color: #392b1d;

      &:nth-child(1) {
        top: 11px;
      }

      &:nth-child(2) {
        top: 18px;
      }

      &:nth-child(3) {
        bottom: 13px;
      }
    }

    &.is-close > span {
      &:nth-child(1) {
        transform: translateY(7px) rotate(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-7px) rotate(45deg);
      }
    }
  }

  &btn {
    box-sizing: border-box;
    display: inline-block;
    min-width: 290px;
    max-width: 450px;
    background-color: $color-usually;
    text-align: center;
    color: #fff !important;
    padding: 0.6em 1.6em;
    text-decoration: none;

    &:hover {
      background-color: darken($color-usually, 10%);
      color: #fff;
    }

    &-small {
      min-width: 80px;
      font-size: $font-size-xs;
      text-align: center;
    }

    &-round {
      border-radius: 50px;
    }

    &-arrow {
      position: relative;
      padding-right: 2.4em;

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1.2em;
        margin: auto;
        @include arrow(#fff);
        content: '';
      }
    }

    &-shadow {
      border-bottom: solid 3px darken($color-usually, 10%);

      &:hover {
        border-bottom: none;
        transform: translateY(3px);
      }
    }
  }

  &icon {
    &-arrow {
      @include arrow(#fff);
    }

    &-circle {
      display: inline-block;
      width: 45px;
      height: 45px;
      line-height: 45px;
      border-radius: 50%;
      background: $color-usually;
      color: #fff;
      text-align: center;
      font-style: normal;
    }
  }

  &copyright {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 1.2rem;

    &-reverse {
      background-color: $color-main;
      color: #fff;
    }
  }

  &pagetop {
    display: none;
    z-index: 98;
    cursor: pointer;
    transition: visibility 200ms 0s ease;

    &-fixed {
      position: fixed;
      right: 15px;
      bottom: 15px;
    }
  }

  &block {
    &-small {
      margin-bottom: 15px;
    }

    &-middle {
      margin-bottom: 30px;
    }

    &-large {
      margin-bottom: 45px;
    }
  }
}
