/* ----------------------------------------
Component
再利用できるパターンとして、小さな単位のモジュールを定義します。
grid/button/form/media...
---------------------------------------- */

.c- {
  $parent: &;

  &inner {
    width: calc(100% - 20px);
    max-width: $width-base + px;
    margin: 0 auto;
  }

  &container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
  }

  &box {
    padding: 60px;
    background-color: $color-white;
    border-radius: 20px;
    overflow: hidden;

    @include sp {
      border-radius: 10px;
      padding: 45px 15px;
    }
  }

  &scroll {
    overflow-y: auto;

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-gray;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-track-piece {
      background: $color-lightgray;
    }
  }

  &title {
    margin-bottom: 30px;
    @include webfont;
    font-size: $font-size-l;
    font-weight: bold;
    text-align: center;

    &:not(:first-child) {
      margin-top: 60px;
    }

    @include sp {
      margin-bottom: 15px;

      &:not(:first-child) {
        margin-top: 45px;
      }
    }

  }

  &definition {
    $self: &;

    &_title,
    &_description {
      box-sizing: border-box;
      padding: 20px;
      margin-left: 0;
    }

    @include tbpc {
      display: flex;
      flex-wrap: wrap;

      &_title {
        width: 180px;
        @include webfont;
        font-weight: bold;

        &:not(:last-of-type) {
          border-bottom: solid 1px $color-brown;
        }
      }

      &_description {
        width: calc(100% - 180px);

        &:not(:last-of-type) {
          border-bottom: solid 1px $color-brown;
        }
      }
    }

    @include sp {

      &_title,
      &_description {
        padding: 5px 15px;
      }

      &_title {
        background-color: $color-lightorange;
      }

      &_description {
        background-color: $color-white;
      }
    }
  }

  &order {
    $self: &;
    list-style: none;
    counter-reset: li;

    #{$self} > &_list {
      position: relative;
      padding-left: 2.4em;

      &:not(:last-of-type) {
        padding-bottom: 10px;
      }

      &::before {
        display: block;
        width: 1.8em;
        height: 1.8em;
        background-color: $color-orange;
        border-radius: 50%;
        text-align: center;
        color: $color-white;
        counter-increment: li;
        content: counter(li);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &unorder {
    $self: &;
    list-style: none;

    #{$self} > &_list {
      padding-left: 1.2em;
      position: relative;

      &::before {
        display: block;
        content: '\25CF'; //●
        color: $color-orange;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &-caution {
      > #{$self}_list {
        &::before {
          content: '\203B'; //※
        }
      }
    }
  }

  &table {
    $self: &;
    display: table;
    width: 100%;

    &_inner {
      display: table-row-group;
    }

    &_item {
      margin-top: -1px;
    }

    &_title,
    &_description {
      display: table-cell;
      padding: 8px 25px;
    }

    &_title {
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
    }
  }

  &button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 260px;
    max-width: 450px;
    padding: 0.6em 2.4em 0.6em;
    background-color: $color-orange;
    border-radius: 50px;
    border-bottom: solid 3px darken($color-orange, 10%);
    text-align: center;
    text-decoration: none;
    color: $color-white !important;
    position: relative;

    &::before {
      box-sizing: border-box;
      display: inline-block;
      width: 0.6em;
      height: 0.6em;
      margin: auto;
      border-top: solid 2px $color-white;
      border-right: solid 2px $color-white;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 1.2em;
      transform: rotate(45deg);
    }

    &:hover {
      margin-top: 3px;
      border-bottom: 0;
      color: $color-white;
    }
  }

  &icon {
    &-pdf {
      display: inline-block;
      background: url(#{$img-path}common/icon_pdf.svg) no-repeat center left/11px auto;
      padding-left: 20px;
    }
  }

  &block {
    &-xsmall {
      margin-bottom: 15px;
    }

    &-small {
      margin-bottom: 30px;
    }

    &-middle {
      margin-bottom: 45px;

      @include sp {
        margin-bottom: 30px;
      }
    }

    &-large {
      margin-bottom: 60px;

      @include sp {
        margin-bottom: 45px;
      }
    }

    &-xlarge {
      margin-bottom: 90px;

      @include sp {
        margin-bottom: 60px;
      }
    }
  }
}
