/* ----------------------------------------
Single
再利用できない、各ページで限定的に使われる装飾です。
各ページ名のプレフィックスをつけています。
---------------------------------------- */

/* ----------------------------------------
TOP
---------------------------------------- */
.top- {
  &slider {
    overflow: hidden;
    position: relative;

    &_container {
      max-width: $width-base + px;
      overflow: visible !important;
    }
  }
}
