/* ----------------------------------------
Layout
ページを構成するヘッダーやメインのコンテンツエリア、
サイドバーやフッターといったプロジェクト共通のコンテナーブロックのスタイルを定義します。
header/main/sidebar/footer...
---------------------------------------- */
.l- {
  &header {
    position: relative;
    padding-top: 50px;
    margin-bottom: 20px;

    &_hamburger {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
    }

    &_subnav {
      z-index: 2;
      position: absolute;
      top: -25px;
      right: -45px;
    }
  }

  &gnav {
    $self: &;

    &_inner {
      display: flex;
      padding-left: 0;
      list-style: none;
    }

    &_list {
      text-align: center;
    }

    &_link {
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;

      &:hover {
        background-color: $color-lightbrown;
      }
    }

    @include pc {
      width: calc(100% - 20px);
      max-width: $width-base + px;
      margin: 0 auto 20px;

      &_list {
        flex: 1;
      }
    }

    @include tb {
      width: calc(100% - 20px);
      max-width: $width-base + px;
      margin: 0 auto 20px;

      &_list {
        width: 33.33%;
      }
    }

    @include sptb {
      &_inner {
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }

    @include sp {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: rgba($color-lightbrown, .95);
      padding: 40px 15px;
      position: fixed;
      top: 0;
      z-index: 99;
      right: -100%;
      transition: right 600ms 0s ease;
      overflow-y: auto;

      &.is-enable {
        right: 0;
      }

      &_list {
        width: 50%;
      }
    }
  }

  &container {
    padding-bottom: 200px;

    @include sp {
      padding-bottom: 120px;
    }
  }

  &footer {
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: $color-lightgray;
    position: relative;
  }
}
